@import url('https://fonts.googleapis.com/css?family=Germania+One|Ubuntu:400,500,700&display=swap');
html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000; 

}


h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0px !important; 
}

h1{
  font-size: 40px;
  line-height: 42px;
}

h2{
  font-size: 34px;
  line-height: 36px;
}

h3{
  font-size: 30px;
  line-height: 32px;
}

h4{
  font-size: 24px;
  line-height: 26px;
}

h5{
  font-size: 20px;
  line-height: 22px;
}

h6{
  font-size: 18px;
  line-height: 20px;
}

a {
  color: #000000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; 
}
a:hover, a:active, a:focus {
  color: #16bdf9 !important;
  outline: none;
  text-decoration: none !important; 
}
button{
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 1.5em; 
  color: #000;
}
ul, ol{
  margin: 0px;
  padding: 0px;
  list-style: none;
}



/*-----------Bootstrap reset--------------*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px !important;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1800px !important;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 2400px !important;
  }
}

@media (min-width: 2880px) {
  .container {
    max-width: 2700px !important;
  }
}
/*---------------Bootstrap reset-------------------*/

.main-outercon{
  float: left;
  width: 100%;
  position: relative;
  height: 100%;
}
#root{
  height: 100%;
}






/*--------------------Content css-----------------------*/
.page-wrap{
  min-height: 100%;
  margin: 0 auto -70px;
  overflow: hidden;
  /*background: radial-gradient(76.05% 74.6% at 50% -14.8%,rgba(22,189,249,.2) 0,rgba(22,130,71,0) 100%),#1E222F;*/
  background: #fff;
}
.page-wrap.content-pages{
  margin: 0 auto;
}
.content-container{
  padding: 70px 0;
}







/*--------------------Form css-----------------------*/
.form-blk{
  display: block;
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
}
.form-row{
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.form-row.btn-blk{
  margin-top: 10px;
}
.form-row label{
  display: inline-block;
  margin: 0;
  width: 100%;
  margin-bottom: 8px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.input-style{
  display: inline-block;
  height: 32px;
  line-height: 32px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #000;
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  background: transparent;
  color: #000;
  outline: none;
}
textarea.input-style{
  height: 100px;
  resize: none;
}

.form-row select{
  width: 100%;
  height: 45px;
}

.btn-common{
  display: inline-block;
  width: 100%;
  max-width: 200px;
  height: 50px;
  line-height: 46px;
  border: 2px solid #16bdf9;
  outline: none;
  box-shadow: none;
  color: #fff !important;
  font-size: 18px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  background: #16bdf9;
  margin-right: 5px;
}
.btn-common:hover,
.btn-common:focus{
  outline: none;
  opacity: 0.7;
}
.btn-common.grey-col{
  border: 2px solid grey;
  color: #fff !important;
  background: grey;
}
.errorMsg{
  float: left;
  width: 100%;
  margin: 3px 0 0 0;
  font-size: 14px;
  line-height: 16px;
  color: #ff0000;
  text-align: left;
}
.btn-common.orange-col{
  border: 2px solid orange;
  color: #fff !important;
  background: orange;
}


/*16bdf9*/
/*--------------- Radio button ---------------------*/
.radio-wrap{
  display: inline-block;
  width: 50%;
  margin: 15px 0 0;
}
.radio-wrap label{
  width: auto;
}
.radio-wrap .radio-style:checked,
.radio-wrap .radio-style:not(:checked) {
    position: absolute;
    left: -9999px;
    outline: none;
}
.radio-wrap .radio-style:checked + label,
.radio-wrap .radio-style:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}
.radio-wrap .radio-style:checked + label:before,
.radio-wrap .radio-style:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #becde3;
    border-radius: 100%;
    background: #becde3;
}
.radio-wrap .radio-style:checked + label:after,
.radio-wrap .radio-style:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio-wrap .radio-style:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-wrap .radio-style:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}















.form-check{
  display: inline-block;
  width: 50%;
  margin: 15px 0 0;
  padding-left: 0px;
}
.form-check label{
  width: auto;
}
.form-check .form-check-style:checked,
.form-check .form-check-style:not(:checked) {
    position: absolute;
    left: -9999px;
    outline: none;
}
.form-check .form-check-style:checked + label,
.form-check .form-check-style:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}
.form-check .form-check-style:checked + label:before,
.form-check .form-check-style:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #becde3;
    background: #becde3;
}
.form-check .form-check-style:checked + label:after,
.form-check .form-check-style:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    top: 3px;
    left: 3px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.form-check .form-check-style:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.form-check .form-check-style:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



/*-------------------- Common page styles ---------------------------*/
.page-container{
  float: left;
  width: 100%;
}
.page-container .row{
  align-items: center;
}
.left-blk{
  float: left;
  width: 100%;
}
.page-head{
  float: left;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.page-head h3{
  text-align: center;
  padding-bottom: 15px;
  color: #16bdf9;
  font-weight: 700;
  font-size: 36px;
  line-height: 38px;
}
.page-head p{
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.content-pages .page-head p{
  text-align: left;
}

.right-blk{
  float: left;
  width: 100%;
  /*padding-top: 120px;*/
}
.right-blk img{
  display: block;
  width: 100%;
}

.two-btns-blk{
  display: flex;
  justify-content: space-between;
}



/*----------------- Dashboard style ----------------------*/
.dashboard-wrap{
  float: left;
  width: 100%;
  padding-bottom: 30px;
}

.dashboard-head{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.dashboard-left{
  float: left;
}
.dashboard-right{
  float: right;
}
.dashboard-right .btn-common{
  display: inline-block;
  height: 40px;
  line-height: 36px;
  width: 140px;
  text-align: center;
  color: #fff !important;
  font-size: 16px;
}
.dashboard-right .btn-common:hover,
.dashboard-right .btn-common:focus{
  opacity: 0.7;
}

.dashboard-content{
  float: left;
  width: 100%;
}
.table-btn{
  display: inline-block;
}

.dashboard-content .jEDPQU{
  border: 1px solid rgba(0,0,0,.12);
}
.dashboard-content .rdt_Table{
  float: left;
  width: 100%;
}
.dashboard-content .rdt_Table .rdt_TableHeadRow{
  background: #eee;
}
.dashboard-content .rdt_Table .rdt_TableHeadRow .rdt_TableCol{
  font-size: 20px;
  font-weight: 500;
}
.dashboard-content .rdt_Table .rdt_TableBody .rdt_TableCell{
  font-size: 16px;
  font-weight: 400;
}


/*-------- Popup ---------*/
.popup-wrap{
  width: 100%;
}
.popup-out{
  float: left;
  width: 100%;
  position: relative;
}
.close-btn{
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  background: none;
  border: none;
  font-weight: 700;
  outline: none !important;
}
.popup-head{
  float: left;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}
.popup-head h4{
  font-size: 22px;
  font-weight: 500;
}
.popup-content{
  float: left;
  width: 100%;
}
.popup-content .form-blk{
  float: left;
}
.popup-btn{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
}
.popup-btn button{
  display: inline-block;
  height: 40px;
  line-height: 36px;
  width: 120px;
  text-align: center;
  color: #fff !important;
  font-size: 16px;
}
.react-datepicker-wrapper{
  width: 100%;
}
.react-datepicker-wrapper input{
  width: 100% !important;
  height: 42px;
}
.popup-content .form-blk{
  float: left;
  width: 100%;
  max-width: none;
  padding: 20px 0 0 0;
}
.popup-wrap .modal-body{
  padding: 25px;
}


/*--------------- Stepper ----------------*/
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item{
  line-height: inherit;
}
.stepper-wrap{
  float: left;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}
.stepper-wrap select, .stepper-wrap input{
  padding: 0 10px;
}
.stepper-wrap ol{
  display: none;
}
.stepper-wrap > div > div > div > button{
  display: inline-block;
  width: 100%;
  max-width: 200px;
  height: 50px;
  line-height: 46px;
  border: 2px solid grey;
  outline: none;
  box-shadow: none;
  color: #fff !important;
  font-size: 18px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  background: grey;
  margin-right: 5px;
}
.stepper-wrap > div > div > div > button:hover,
.stepper-wrap div > button:focus{
  outline: none;
  opacity: 0.7;
}
.stepper-wrap > div > div > div > button:first-child{
  background: transparent;
  color: grey !important;
}
.stepper-data{
  float: left;
  width: 100%;
  padding: 15px;
  margin: 15px 0 10px;
  border: 2px solid #ddd;
}
.stepper-data span{
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
}
.stepper-btn{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.stepper-btn .btn-common{
  display: inline-block;
}